Repository AshAI-Sys/ashley-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "**/*.ts?(x)": ["bash -c 'pnpm type-check'"]
}

feat(analytics): Add Redis caching for 50-80% faster dashboard loads
  services/ash-admin/src/app/api/analytics/route.ts
  services/ash-admin/src/lib/analytics-cache.ts
  services/ash-admin/src/lib/performance/query-cache.ts
  services/ash-admin/test-analytics-cache.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(prisma): Use library engine for Vercel compatibility
  packages/database/prisma/schema.prisma
Due: none

fix(prisma): Remove hardcoded Windows DLL path - Allow platform-specific engine
  services/ash-admin/next.config.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(vercel): Replace bcrypt with bcryptjs for serverless compatibility - CRITICAL FIX
  .claude/settings.local.json
  fix-demo-account.js
  pnpm-lock.yaml
  services/ash-admin/fix-demo.js
  services/ash-admin/package.json
  services/ash-admin/src/app/api/admin/users/[id]/route.ts
  services/ash-admin/src/app/api/admin/users/route.ts
  services/ash-admin/src/app/api/auth/employee-login/route.ts
  services/ash-admin/src/app/api/auth/login/route.ts
  services/ash-admin/src/app/api/auth/register/route.ts
  services/ash-admin/src/app/api/auth/reset-password/route.ts
  services/ash-admin/src/app/api/employees/setup/route.ts
  services/ash-admin/src/app/api/hr/employees/route.ts
  services/ash-admin/src/app/api/seed/route.ts
  services/ash-admin/src/app/api/settings/password/route.ts
  services/ash-admin/src/app/api/setup/route.ts
  services/ash-admin/src/lib/2fa-server.ts
  services/ash-admin/src/lib/auth-utils.ts
  services/ash-admin/src/lib/multi-tenant/tenant-manager.ts
  services/ash-admin/src/lib/security/password.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): Fix garment type emoji display
  services/ash-admin/src/components/order-intake/product-design-section.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): Allow body scroll when Select dropdown is open - Add modal=false to prevent scroll blocking
  services/ash-admin/src/components/ui/select.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(build): Add dynamic export to API routes using request.url - Resolves static generation errors
  services/ash-admin/src/app/api/auth/verify-email/route.ts
  services/ash-admin/src/app/api/employee/tasks/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(inventory): Add product images and crate tracking to FinishedUnit
  packages/database/prisma/schema.prisma
Due: none

feat(inventory): Add finished goods inventory with product images and crate tracking
  services/ash-admin/src/app/api/inventory/finished-units/route.ts
  services/ash-admin/src/app/inventory/finished-goods/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(build): Fix typo in setCategoryFilter state setter
  services/ash-admin/src/app/inventory/finished-goods/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs(audit): Add comprehensive system audit and implementation roadmap
  CLAUDE.md
  MISSING-FEATURES-ROADMAP.md
  SYSTEM-STATUS-NOV-2025.md
Due: prettier --write

chore: Add quick deployment script for easy production deployment
  DEPLOY-NOW.bat
Due: none

docs: Add comprehensive deployment instructions
  DEPLOYMENT-INSTRUCTIONS.md
Due: prettier --write

fix(scanner): Replace html5-qrcode with working @zxing Scanner component
  services/ash-admin/src/app/inventory/scan-barcode/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(onboarding): Remove days from template options
  services/ash-admin/src/app/admin/onboarding/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(scanners): Add working camera scanner to all QR scan pages
  services/ash-admin/src/app/cutting/scan-bundle/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(pwa): Add iOS/iPad PWA install support with manual instructions
  services/ash-admin/src/components/pwa-install-prompt.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(auth): Add demo@ashleyai.com account for easier testing
  packages/database/prisma/seed.ts
  packages/database/seed.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(auth): Add seed-demo API endpoint for one-click demo account creation
  services/ash-admin/src/app/api/seed-demo/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(setup): Add one-click demo account setup page
  services/ash-admin/src/app/setup/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(console): Prevent ChatWidget from loading on public pages - Fixes HTML error responses
  services/ash-admin/src/app/layout.tsx
  services/ash-admin/src/components/ai-chat/ChatWidgetWrapper.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(integrations): Add Google Sheets Real-Time Sync Integration
  GOOGLE-SHEETS-SETUP.md
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  services/ash-admin/package.json
  services/ash-admin/src/app/api/google-sheets/sync/route.ts
  services/ash-admin/src/app/integrations/google-sheets/page.tsx
  services/ash-admin/src/lib/google-sheets-sync.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(integrations): Add event-triggered Google Sheets auto-sync
  services/ash-admin/src/app/api/orders/route.ts
  services/ash-admin/src/components/sidebar.tsx
  services/ash-admin/src/lib/google-sheets-auto-sync.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(search): Add complete global search functionality with results page
  services/ash-admin/src/app/api/search/route.ts
  services/ash-admin/src/app/search/page.tsx
  services/ash-admin/src/components/top-navbar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(google-sheets): Add auto-sync to Clients API - Non-blocking sync after client creation
  services/ash-admin/src/app/api/clients/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(google-sheets): Add auto-sync to Inventory Products API
  services/ash-admin/src/app/api/inventory/products/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(google-sheets): Add auto-sync to Finance Invoices API - Complete auto-sync implementation for critical endpoints
  services/ash-admin/src/app/api/finance/invoices/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(printing): Fix machine dropdown showing no options
  services/ash-admin/src/app/printing/create-run/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(sewing): Add missing bundle by-qr API endpoint for sewing scanner
  services/ash-admin/src/app/api/bundles/by-qr/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(delivery): Make New Shipment button functional - redirect to warehouse page
  services/ash-admin/src/app/delivery/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(integration): Update Google Sheets sync and login page improvements
  services/ash-admin/src/app/api/google-sheets/sync/route.ts
  services/ash-admin/src/app/login/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore(setup): Add Google Sheets setup batch script for Windows
  setup-google-sheets.bat
Due: none

docs(handover): Add complete handover documentation package
  ASHLEY-AI-USER-GUIDE.md
  HANDOVER-CHECKLIST.md
  QUICK-START-SUMMARY.md
Due: prettier --write

chore(security): Add credentials and local settings to .gitignore - Prevent accidental commits of sensitive files
  .gitignore
Due: none

chore: Remove .claude/settings.local.json from git tracking - Keep file locally but don't track changes
  .claude/settings.local.json
Due: prettier --write

fix(auth): Remove requireAuth from forgot-password endpoint - Fix JSON parsing error
  services/ash-admin/src/app/api/auth/forgot-password/route.ts
Due: eslint --fix --max-warnings=0, prettier --write
