Repository AshAI-Sys/ashley-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

fix(vercel): Add rootDirectory to fix API routes deployment
  vercel.json
Due: prettier --write

fix(vercel): Remove invalid rootDirectory property from vercel.json
  vercel.json
Due: prettier --write

fix(vercel): Correct build command path for Root Directory setup
  vercel.json
Due: prettier --write

fix(vercel): Change outputDirectory to .next for Root Directory setup
  vercel.json
Due: prettier --write

fix(designs): Fix orders dropdown - correct API response parsing
  services/ash-admin/src/app/designs/new/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(designs): Fix dropdown - remove status filter, add null checks, show all orders
  services/ash-admin/src/app/designs/new/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(printing): Add multi-machine allocation with dynamic add/remove
  services/ash-admin/src/app/printing/create-run/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(printing): Add missing order_id to print run submission
  services/ash-admin/src/app/printing/create-run/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(printing): Replace mock data with real API call in create-run form
  services/ash-admin/src/app/printing/create-run/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(lib): Remove 9 duplicate/dead code files and unify Redis client
  services/ash-admin/src/app/api/auth/login/route.ts
  services/ash-admin/src/app/api/auth/resend-verification/route.ts
  services/ash-admin/src/app/api/sessions/route.ts
  services/ash-admin/src/lib/auth-middleware.ts
  services/ash-admin/src/lib/cache-utils.ts
  services/ash-admin/src/lib/gmail-email.ts
  services/ash-admin/src/lib/notificationService.ts
  services/ash-admin/src/lib/rate-limit.ts
  services/ash-admin/src/lib/redis.ts
  services/ash-admin/src/lib/redis/client.ts
  services/ash-admin/src/lib/redis/index.ts
  services/ash-admin/src/lib/security/rate-limiter.ts
  services/ash-admin/src/lib/session-manager.ts
  services/ash-admin/src/lib/session-timeout.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor(lib): Consolidate email services and fix Redis import paths
  services/ash-admin/src/lib/account-lockout.ts
  services/ash-admin/src/lib/email.ts
  services/ash-admin/src/lib/email/index.ts
  services/ash-admin/src/lib/redis/cache.ts
  services/ash-admin/src/lib/redis/strategies.ts
  services/ash-admin/src/lib/token-rotation.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(pwa): Add 3s delay before showing install prompt to prevent browser warnings
  services/ash-admin/src/components/pwa-install-prompt.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(finance): Restore incorrectly removed imports causing white screen
  services/ash-admin/src/app/finance/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(imports): Restore broken imports removed by incorrect cleanup - 9 pages fixed
  services/ash-admin/src/app/cutting/create-lay/page.tsx
  services/ash-admin/src/app/cutting/page.tsx
  services/ash-admin/src/app/designs/new/page.tsx
  services/ash-admin/src/app/designs/upload/page.tsx
  services/ash-admin/src/app/employee/page.tsx
  services/ash-admin/src/app/printing/machines/page.tsx
  services/ash-admin/src/app/printing/page.tsx
  services/ash-admin/src/app/settings/notifications/page.tsx
  services/ash-admin/src/app/sewing/operations/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(ai-chat): Replace hardcoded user/workspace IDs with auth context
  services/ash-admin/src/components/ai-chat/ChatWidget.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(pwa): Add complete PWA support with offline functionality
  HONEST-SYSTEM-AUDIT-2025-11-09.md
  pnpm-lock.yaml
  services/ash-admin/.gitignore
  services/ash-admin/next.config.js
  services/ash-admin/package.json
  services/ash-admin/src/app/offline/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(delivery): Add J&T Express, LBC, and Ninja Van 3PL providers
  services/ash-admin/src/lib/3pl/providers/jnt.ts
  services/ash-admin/src/lib/3pl/providers/lbc.ts
  services/ash-admin/src/lib/3pl/providers/ninjavan.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(hr-finance): Add HR Attendance, Payroll, and Expense Management UIs
  services/ash-admin/src/app/api/finance/expenses/route.ts
  services/ash-admin/src/app/api/hr/payroll/[id]/route.ts
  services/ash-admin/src/app/finance/expenses/page.tsx
  services/ash-admin/src/app/hr-payroll/attendance/page.tsx
  services/ash-admin/src/app/hr-payroll/payroll/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(typescript): Resolve all TypeScript errors in new pages
  services/ash-admin/src/app/finance/expenses/page.tsx
  services/ash-admin/src/app/finance/page.tsx
  services/ash-admin/src/app/hr-payroll/attendance/page.tsx
  services/ash-admin/src/lib/3pl/providers/JNT-README.md
  services/ash-admin/src/lib/3pl/providers/LBC-IMPLEMENTATION.md
  services/ash-admin/src/lib/3pl/providers/jnt.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(typescript): Resolve ALL 49 TypeScript errors - Production Ready
  services/ash-admin/src/lib/account-lockout.ts
  services/ash-admin/src/lib/redis/cache.ts
  services/ash-admin/src/lib/redis/strategies.ts
  services/ash-admin/src/lib/token-rotation.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(frontend): Comprehensive frontend error handling and defensive programming
  FRONTEND-ERROR-FIXES-REPORT.md
  services/ash-admin/src/app/(dashboard)/performance/page.tsx
  services/ash-admin/src/app/api/admin/audit/route.ts
  services/ash-admin/src/app/finance/expenses/page.tsx
  services/ash-admin/src/app/hr-payroll/attendance/page.tsx
  services/ash-admin/src/lib/api-client.ts
  services/ash-admin/src/lib/auth-context.tsx
  services/ash-admin/src/lib/safe-operations.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(typescript): Fix api-client and auth-context type errors - Headers and atob null safety
  services/ash-admin/src/lib/api-client.ts
  services/ash-admin/src/lib/auth-context.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(ui): Add BackButton component to all pages via DashboardLayout
  services/ash-admin/src/components/dashboard-layout.tsx
  services/ash-admin/src/components/ui/back-button.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(encoding): Fix UTF-8 encoding issues in register route
  services/ash-admin/src/app/api/auth/register/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(system): Complete deep scan and production readiness validation - ZERO ERRORS
  DEEP-SCAN-EXECUTIVE-SUMMARY.md
  QUICK-START-GUIDE.md
  SYSTEM-DEEP-SCAN-REPORT.md
  services/ash-admin/next.config.js
  services/ash-admin/src/app/error.tsx
  services/ash-admin/src/app/global-error.tsx
  validate-system.ps1
Due: eslint --fix --max-warnings=0, prettier --write

docs(system): Add comprehensive issue resolution report - ALL ISSUES DOCUMENTED
  ISSUE-RESOLUTION-REPORT.md
Due: prettier --write

fix(build): Eliminate all build warnings - OpenTelemetry and error page warnings resolved
  services/ash-admin/build-wrapper.js
  services/ash-admin/next.config.js
  services/ash-admin/package.json
  services/ash-admin/src/app/global-error.tsx
  services/ash-admin/src/app/not-found.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: Add comprehensive warning resolution summary report
  WARNING-RESOLUTION-SUMMARY.md
Due: prettier --write

fix(next): Disable aggressive prefetching to prevent 404 errors
  services/ash-admin/next.config.js
Due: eslint --fix --max-warnings=0, prettier --write

feat(inventory): Add comprehensive Stock Ledger History tracking system
  services/ash-admin/src/app/api/inventory/stock-ledger/route.ts
  services/ash-admin/src/app/inventory/history/page.tsx
  services/ash-admin/src/components/sidebar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: Remove entire Client Portal feature (Stage 12) per user request
  MISSING-FEATURES-ROADMAP.md
  packages/database/prisma/schema.prisma
  services/ash-admin/src/app/api/client-portal/auth/logout/route.ts
  services/ash-admin/src/app/api/client-portal/auth/request-magic-link/route.ts
  services/ash-admin/src/app/api/client-portal/auth/verify-magic-link/route.ts
  services/ash-admin/src/app/api/client-portal/dashboard/route.ts
  services/ash-admin/src/app/api/client-portal/messages/route.ts
  services/ash-admin/src/app/api/client-portal/notifications/route.ts
  services/ash-admin/src/app/api/client-portal/orders/[id]/route.ts
  services/ash-admin/src/app/api/client-portal/orders/route.ts
  services/ash-admin/src/app/api/client-portal/payments/route.ts
  services/ash-admin/src/app/api/client-portal/settings/route.ts
  services/ash-admin/src/app/client-portal/(portal)/dashboard/page.tsx
  services/ash-admin/src/app/client-portal/(portal)/layout.tsx
  services/ash-admin/src/app/client-portal/(portal)/messages/page.tsx
  services/ash-admin/src/app/client-portal/(portal)/notifications/page.tsx
  services/ash-admin/src/app/client-portal/(portal)/orders/[id]/page.tsx
  services/ash-admin/src/app/client-portal/(portal)/orders/page.tsx
  services/ash-admin/src/app/client-portal/(portal)/payments/page.tsx
  services/ash-admin/src/app/client-portal/(portal)/settings/page.tsx
  services/ash-admin/src/app/client-portal/auth/verify/page.tsx
  services/ash-admin/src/app/client-portal/login/page.tsx
  services/ash-admin/src/lib/client-portal-auth.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(hr-delivery): Complete HR & Payroll Advanced + Delivery Driver Management
  packages/database/prisma/schema.prisma
  services/ash-admin/src/app/api/delivery/drivers/[id]/route.ts
  services/ash-admin/src/app/api/delivery/drivers/route.ts
  services/ash-admin/src/app/api/hr/benefit-types/[id]/route.ts
  services/ash-admin/src/app/api/hr/benefit-types/route.ts
  services/ash-admin/src/app/api/hr/employee-benefits/[id]/route.ts
  services/ash-admin/src/app/api/hr/employee-benefits/route.ts
  services/ash-admin/src/app/api/hr/leave-balances/route.ts
  services/ash-admin/src/app/api/hr/leave-requests/[id]/route.ts
  services/ash-admin/src/app/api/hr/leave-requests/route.ts
  services/ash-admin/src/app/api/hr/leave-types/[id]/route.ts
  services/ash-admin/src/app/api/hr/leave-types/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs(deployment): Add complete production deployment guides and scripts
  .env.production.template
  PRODUCTION-DEPLOYMENT-GUIDE.md
  QUICK-DEPLOYMENT-STEPS.md
  deploy-to-production.ps1
  services/ash-mobile/eas.json
  test-production.ps1
Due: prettier --write

feat(deployment): Add deployment readiness checker script
  check-deployment-ready.ps1
Due: none

docs(deployment): Add comprehensive deployment status summary
  DEPLOYMENT-STATUS.md
Due: prettier --write

fix(finance): Restore working finance page with correct component imports and fix invoices API auth
  services/ash-admin/src/app/api/finance/invoices/route.ts
  services/ash-admin/src/app/finance/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(finance): Rebuild finance page based on Stage 9 specification
  services/ash-admin/src/app/api/finance/stats/route.ts
  services/ash-admin/src/app/finance/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: Add comprehensive user guide in Tagalog/English
  COMPLETE-USER-GUIDE.md
Due: prettier --write

docs(verification): Add comprehensive user guide verification report - 99% accuracy confirmed
  USER-GUIDE-VERIFICATION-REPORT.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
