Repository AshAI-Sys/ashley-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

fix(pwa): Resolve install banner timing and service worker preload warnings
  .claude/settings.local.json
  packages/database/.env.production
  packages/database/init-production.js
  services/ash-admin/public/sw.js
  services/ash-admin/src/app/api/inventory/adjust/route.ts
  services/ash-admin/src/app/api/inventory/delivery/route.ts
  services/ash-admin/src/app/api/inventory/product/[id]/route.ts
  services/ash-admin/src/app/api/inventory/transfer/route.ts
  services/ash-admin/src/app/inventory/retail/cashier/page.tsx
  services/ash-admin/src/app/inventory/retail/store/page.tsx
  services/ash-admin/src/app/layout.tsx
  services/ash-admin/src/components/pwa-install-prompt.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(database): Switch from PostgreSQL to SQLite for local development
  packages/database/prisma/schema.prisma
Due: none

fix(auth): Resolve fetch interceptor blocking registration and auth endpoints
  packages/database/prisma/migrations/20251031035758_init_sqlite/migration.sql
  packages/database/prisma/migrations/migration_lock.toml
  services/ash-admin/src/components/fetch-interceptor-init.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(auth): Skip email verification in development mode for faster testing
  services/ash-admin/src/app/api/auth/register/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): Resolve React hydration warning in verify-email page
  services/ash-admin/src/app/verify-email/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: Clean up temporary database cleanup script
  .claude/settings.local.json
Due: prettier --write

fix(deployment): Switch to PostgreSQL for production consistency
  packages/database/prisma/schema.prisma
  railway.json
  render.yaml
Due: prettier --write

fix(database): Complete PostgreSQL migration setup
  .claude/settings.local.json
  packages/database/prisma/migrations/migration_lock.toml
Due: prettier --write

fix(deployment): Exclude .prisma binaries and configure Vercel for monorepo
  .gitignore
  .vercelignore
  vercel.json
Due: prettier --write

fix: Auto-generate unique workspace slugs in registration
  services/ash-admin/src/app/api/auth/register/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: Add Node.js runtime config to login endpoint for Vercel deployment
  services/ash-admin/src/app/api/auth/login/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: Add Prisma generate to vercel-build and postinstall
  services/ash-admin/package.json
Due: prettier --write

fix: Add Vercel monorepo configuration for Prisma
  services/ash-admin/vercel.json
Due: prettier --write

fix: Specify Prisma schema path in build scripts for Vercel
  services/ash-admin/package.json
Due: prettier --write

fix: Simplify Vercel build config to use vercel-build script
  services/ash-admin/vercel.json
Due: prettier --write

fix: Specify Prisma schema path in root vercel.json build command
  vercel.json
Due: prettier --write

chore: Remove duplicate vercel.json (using root config)
  services/ash-admin/vercel.json
Due: prettier --write

chore: Trigger Vercel redeployment
  .vercel-deployment-trigger
Due: none

fix: Revert to working Vercel build configuration (use pnpm prisma)
  vercel.json
Due: prettier --write

debug: Add GET handler to test login route recognition
  services/ash-admin/src/app/api/auth/login/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: Redis lazy initialization to prevent module load crash in Vercel
  .claude/settings.local.json
  create-ashai-admin.js
  packages/database/check-all-users.js
  packages/database/check-user.js
  packages/database/create-ashai-admin.js
  packages/database/delete-account.js
  packages/database/force-delete.js
  packages/database/test-password.js
  services/ash-admin/src/app/api/auth/login/route.ts
  services/ash-admin/src/lib/account-lockout.ts
Due: eslint --fix --max-warnings=0, prettier --write

test: Minimal login route to debug 405 error
  services/ash-admin/src/app/api/auth/login-backup/route.ts
  services/ash-admin/src/app/api/auth/login/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: Restore full login route with Redis lazy init fix
  .claude/settings.local.json
  services/ash-admin/src/app/api/auth/login-backup/route.ts
  services/ash-admin/src/app/api/auth/login/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: Simplify login route - remove problematic imports causing 405 error
  services/ash-admin/src/app/api/auth/login/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: Add Node.js runtime config to dashboard API endpoints
  services/ash-admin/src/app/api/clients/route.ts
  services/ash-admin/src/app/api/hr/employees/route.ts
  services/ash-admin/src/app/api/orders/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: Disable session validation temporarily - use JWT-only auth
  services/ash-admin/src/lib/auth-middleware.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: Make sidebar sticky on desktop - full height always visible
  services/ash-admin/src/components/sidebar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: Improve search input placeholder visibility on QR Generator page
  services/ash-admin/src/app/inventory/qr-generator/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: Allow camera, microphone, and geolocation permissions for QR scanner
  services/ash-admin/next.config.js
Due: eslint --fix --max-warnings=0, prettier --write

feat: Re-enable session validation with fallback to JWT-only auth
  services/ash-admin/src/app/api/auth/login/route.ts
  services/ash-admin/src/lib/auth-middleware.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(monitoring): Add Web Vitals performance tracking
  .claude/settings.local.json
  pnpm-lock.yaml
  services/ash-admin/package.json
  services/ash-admin/src/app/api/analytics/web-vitals/route.ts
  services/ash-admin/src/app/layout.tsx
  services/ash-admin/src/components/web-vitals-reporter.tsx
  services/ash-admin/src/lib/web-vitals.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(monitoring): Add Sentry error tracking and monitoring
  SENTRY-SETUP-GUIDE.md
  pnpm-lock.yaml
  services/ash-admin/instrumentation.ts
  services/ash-admin/next.config.js
  services/ash-admin/package.json
  services/ash-admin/src/lib/auth-context.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: Add production verification checklist and database optimization report
  DATABASE-OPTIMIZATION-REPORT.md
  DB-OPTIMIZATION-SUMMARY.txt
  PRODUCTION-VERIFICATION-CHECKLIST.md
Due: prettier --write

fix(production): Fix 500 error by making Sentry initialization conditional
  services/ash-admin/instrumentation.ts
  services/ash-admin/next.config.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(sentry): Make all Sentry configs conditional on DSN presence
  services/ash-admin/sentry.client.config.ts
  services/ash-admin/sentry.edge.config.ts
  services/ash-admin/sentry.server.config.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(typescript): Resolve all 34 TypeScript errors - Zero errors achieved
  TYPESCRIPT-FIX-PROGRESS.md
  packages/database/prisma/schema.prisma
  services/ash-admin/src/app/api/inventory/product/[id]/route.ts
  services/ash-admin/src/app/api/inventory/report/route.ts
  services/ash-admin/src/app/api/inventory/sales/route.ts
  services/ash-admin/src/app/inventory/warehouse/page.tsx
  services/ash-admin/src/app/mobile/manage/page.tsx
  services/ash-admin/src/components/inventory/qr-scanner.tsx
  services/ash-admin/src/lib/account-lockout.ts
  services/ash-admin/src/lib/permissions.ts
  services/ash-admin/src/lib/web-vitals.ts
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
