Repository AshAI-Sys/ashley-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "**/*.ts?(x)": ["bash -c 'pnpm type-check'"]
}

fix(inventory): Replace 7 window.alert() calls with toast notifications
  services/ash-admin/src/app/inventory/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): Remove all 'coming soon' placeholders across 4 pages
  services/ash-admin/src/app/admin/analytics/page.tsx
  services/ash-admin/src/app/employee/page.tsx
  services/ash-admin/src/app/government/page.tsx
  services/ash-admin/src/app/printing/machines/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs(progress): Update NEXT-PRIORITIES.md - Options 1 & 2 complete
  NEXT-PRIORITIES.md
Due: prettier --write

🎯 MAJOR: Achieve 100% TypeScript type safety (729 → 0 errors)
  services/ash-admin/src/app/api/inventory/materials/route.ts
  services/ash-admin/src/app/api/payments/create-checkout/route.ts
  services/ash-admin/src/app/printing/runs/[id]/page.tsx
  services/ash-admin/src/app/sewing/operations/page.tsx
  services/ash-admin/src/app/verify-email/page.tsx
  services/ash-admin/src/components/dashboard/CustomizableDashboard.tsx
  services/ash-admin/src/components/ui/popover.tsx
  services/ash-admin/src/lib/ai/defect-detection.ts
  services/ash-admin/src/lib/audit/logger.ts
  services/ash-admin/src/lib/email/index.ts
  services/ash-admin/src/lib/email/queue.ts
  services/ash-admin/src/lib/error-handling.ts
Due: eslint --fix --max-warnings=0, prettier --write

✨ feat(dashboard): Restore CustomizableDashboard with react-grid-layout
  pnpm-lock.yaml
  services/ash-admin/src/components/dashboard/CustomizableDashboard.tsx
  services/ash-admin/src/types/react-grid-layout.d.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Production-ready updates - Email verification + Compact UI
  packages/database/delete-user.js
  packages/database/delete-workspace.js
  packages/database/find-and-verify-latest-user.js
  services/ash-admin/src/app/api/auth/register/route.ts
  services/ash-admin/src/app/api/auth/verify-email/route.ts
  services/ash-admin/src/app/globals.css
  services/ash-admin/src/app/verify-email/page.tsx
  services/ash-admin/src/components/top-navbar.tsx
  services/ash-admin/src/components/ui/theme-toggle.tsx
  verify-email-manual.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(vercel): Skip prepare scripts to avoid husky error in build
  services/ash-admin/vercel.json
Due: prettier --write

fix(vercel): Remove frozen-lockfile requirement for build
  services/ash-admin/vercel.json
Due: prettier --write

fix(vercel): Explicitly disable frozen-lockfile with --no-frozen-lockfile
  services/ash-admin/vercel.json
Due: prettier --write

fix(vercel): Remove ignore-scripts to allow Prisma postinstall
  services/ash-admin/vercel.json
Due: prettier --write

fix(vercel): Add back ignore-scripts to skip husky prepare script
  services/ash-admin/vercel.json
Due: prettier --write

fix(vercel): Use HUSKY=0 instead of ignore-scripts to allow Prisma postinstall
  services/ash-admin/vercel.json
Due: prettier --write

fix(husky): Make prepare script respect HUSKY=0 env variable
  package.json
Due: prettier --write

fix(vercel): Use npx prisma generate directly in database directory
  services/ash-admin/vercel.json
Due: prettier --write

fix(build): Remove prisma generate from ash-admin build scripts (handled by vercel.json)
  services/ash-admin/package.json
Due: prettier --write

fix(vercel): Simplify build configuration with HUSKY env var
  services/ash-admin/vercel.json
Due: prettier --write

chore: Update pnpm-lock.yaml to remove unused dependencies
  pnpm-lock.yaml
Due: prettier --write

fix(vercel): Set HUSKY=0 inline in install and build commands
  services/ash-admin/vercel.json
Due: prettier --write

fix(vercel): Use export HUSKY=0 for proper bash syntax
  services/ash-admin/vercel.json
Due: prettier --write

fix(vercel): Use VERCEL_PROJECT_ROOT for proper monorepo paths
  services/ash-admin/vercel.json
Due: prettier --write

fix(vercel): Use relative paths instead of VERCEL_PROJECT_ROOT variable
  services/ash-admin/vercel.json
Due: prettier --write

fix(vercel): Use env command to properly set HUSKY=0 during install
  services/ash-admin/vercel.json
Due: prettier --write

fix(vercel): Use pnpm workspace filtering for proper monorepo build
  services/ash-admin/vercel.json
Due: prettier --write

fix(vercel): Install devDependencies for TypeScript build
  services/ash-admin/vercel.json
Due: prettier --write

fix(vercel): Force dynamic rendering for all pages
  services/ash-admin/src/app/layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(layout): Resolve naming conflict with dynamic import
  services/ash-admin/src/app/layout.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(prisma): Change database provider from SQLite to PostgreSQL
  packages/database/prisma/schema.prisma
Due: none

fix(mobile): Enable sidebar scrolling on mobile devices
  services/ash-admin/src/components/sidebar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(ui): Add responsive search functionality to top navbar
  services/ash-admin/src/components/top-navbar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(inventory): Add QR-Based Inventory System database schema
  packages/database/prisma/schema.prisma
Due: none

feat(inventory): Add QR Inventory System API endpoints
  services/ash-admin/src/app/api/inventory/adjust/route.ts
  services/ash-admin/src/app/api/inventory/delivery/route.ts
  services/ash-admin/src/app/api/inventory/product/[id]/route.ts
  services/ash-admin/src/app/api/inventory/report/route.ts
  services/ash-admin/src/app/api/inventory/sales/route.ts
  services/ash-admin/src/app/api/inventory/transfer/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(inventory): Add CRUD API endpoints for products, variants, and locations
  services/ash-admin/src/app/api/inventory/locations/route.ts
  services/ash-admin/src/app/api/inventory/products/route.ts
  services/ash-admin/src/app/api/inventory/variants/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat(inventory): Add complete QR-Based Retail Inventory frontend interfaces
  services/ash-admin/src/app/inventory/retail/admin/page.tsx
  services/ash-admin/src/app/inventory/retail/cashier/page.tsx
  services/ash-admin/src/app/inventory/retail/page.tsx
  services/ash-admin/src/app/inventory/retail/store/page.tsx
  services/ash-admin/src/app/inventory/retail/warehouse/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(inventory): Add Retail Store navigation link to sidebar
  services/ash-admin/src/components/sidebar.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(inventory): Add QR code generator component and complete documentation
  QR-INVENTORY-SETUP.md
  services/ash-admin/src/components/qr-code-generator.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: Complete QR library integration and fix TypeScript errors
  pnpm-lock.yaml
  services/ash-admin/package.json
  services/ash-admin/src/app/api/brands/route.ts
  services/ash-admin/src/app/api/sewing/runs/route.ts
  services/ash-admin/src/components/qr-code-generator.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: Add 'as const' to all Prisma insensitive mode queries
  services/ash-admin/src/app/api/admin/users/route.ts
  services/ash-admin/src/app/api/clients/route.ts
  services/ash-admin/src/app/api/cutting/fabric-batches/route.ts
  services/ash-admin/src/app/api/hr/employees/route.ts
  services/ash-admin/src/app/api/maintenance/assets/route.ts
  services/ash-admin/src/app/api/maintenance/schedules/route.ts
  services/ash-admin/src/app/api/maintenance/work-orders/route.ts
  services/ash-admin/src/app/api/orders/route.ts
  services/ash-admin/src/app/api/printing/materials/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(inventory): Correct auth pattern in all QR inventory routes
  services/ash-admin/src/app/api/inventory/adjust/route.ts
  services/ash-admin/src/app/api/inventory/delivery/route.ts
  services/ash-admin/src/app/api/inventory/locations/route.ts
  services/ash-admin/src/app/api/inventory/product/[id]/route.ts
  services/ash-admin/src/app/api/inventory/products/route.ts
  services/ash-admin/src/app/api/inventory/report/route.ts
  services/ash-admin/src/app/api/inventory/sales/route.ts
  services/ash-admin/src/app/api/inventory/transfer/route.ts
  services/ash-admin/src/app/api/inventory/variants/route.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(inventory): Close requireAuth wrapper with }); in delivery and sales routes
  services/ash-admin/src/app/api/inventory/adjust/route.ts
  services/ash-admin/src/app/api/inventory/delivery/route.ts
  services/ash-admin/src/app/api/inventory/report/route.ts
  services/ash-admin/src/app/api/inventory/sales/route.ts
  services/ash-admin/src/app/api/inventory/transfer/route.ts
Due: eslint --fix --max-warnings=0, prettier --write
